@media screen and (max-width: 767px) {
  .hero-section {
    overflow: hidden;
  }

  .nav__container {
    width: 90vw;
    max-width: 90vw;
  }

  .navbar {
    margin-top: 0px;
    padding-top: 0px;
  }

  .hero_copy__wrapper {
    height: 100vh;
    margin-top: 0px;
    padding: 53px 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero__image {
    height: auto;
    max-width: 90%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .whole-in-one__section {
    padding-top: 80px;
    padding-bottom: 160px;
  }

  .join-button__container {
    max-width: 90vw;
  }

  .all-in-one-benefit__wrapper {
    height: 280px;
    max-width: 500px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .h2 {
    margin-top: 0px;
    font-size: 56px;
    letter-spacing: -1px;
  }

  .h2.is--smaller {
    font-size: 56px;
    letter-spacing: -1px;
  }

  .benefit__paragraph {
    width: 300px;
    font-size: 20px;
  }

  .benefit__paragraph.is--smaller {
    font-size: 20px;
  }

  .healthy-competition__section {
    height: 480px;
    padding-top: 75px;
    padding-bottom: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-span-4 {
    font-size: 20px;
  }

  .smilie-on-mobile__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .smilie-image {
    position: static;
    height: 50vh;
  }

  .save-and-sound__section {
    padding-top: 160px;
    padding-bottom: 80px;
  }

  .lock_visual {
    width: 60px;
  }

  .feature__section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .feature__container {
    max-width: 500px;
  }

  .grid-4 {
    width: 65vw;
    max-width: 65vw;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .feature__card {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 15px;
  }

  .feature__text-wrapper {
    margin-bottom: 30px;
  }

  .card__paragraph {
    width: 270px;
  }

  .feature__image {
    width: 110px;
  }

  .feature__image.is--insights {
    width: 300px;
  }

  .sync-different__section {
    overflow: visible;
    height: 600px;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .section__heaiding {
    width: 90vw;
    max-width: 90vw;
    font-size: 90px;
  }

  .banner-line__wrapper.is--first-line {
    margin-bottom: 10px;
  }

  .banner-line__wrapper.is--first-line.is--first-half {
    margin-right: 30px;
  }

  .banner-line__wrapper.is--third-line.is--first-half {
    margin-right: 30px;
  }

  .banner-line__wrapper.is--second-line {
    margin-bottom: 10px;
  }

  .banner-line__wrapper.is--second-line.is--the-first-half {
    margin-right: 30px;
  }

  .banner__paragraph {
    margin-right: 30px;
    font-size: 32px;
  }

  .banner__image {
    width: 82px;
    margin-right: 30px;
  }

  .last_argumeznts__section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .last_arguments__container {
    max-width: 65vw;
  }

  .last-arguments__big-paragraph {
    max-width: 450px;
    font-size: 90px;
    line-height: 95%;
    letter-spacing: -2px;
  }

  .text-span-16 {
    letter-spacing: 0px;
  }

  .i-am-in-anchor-link__section {
    padding-top: 60px;
    padding-bottom: 75px;
  }

  .join-heading__container {
    width: 65vw;
    height: 550px;
    padding: 90px 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 15px;
  }

  .join__grid {
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .join__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .form {
    margin-bottom: 0px;
  }

  .footer_grid {
    width: 500px;
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer__link {
    text-align: center;
  }

  .image-5 {
    display: none;
  }

  .social-media__section {
    padding-top: 0px;
    padding-bottom: 75px;
  }

  .social-media__container {
    overflow: hidden;
    height: auto;
    max-width: 90vw;
  }

  .social-media__big-paragraph {
    width: 170px;
    font-size: 32px;
    letter-spacing: -1px;
  }

  .large-image__wrapper {
    width: 30vw;
    height: 260px;
    max-width: 45vw;
    margin-bottom: 0px;
    border-radius: 10px;
  }

  .large-image__wrapper.is--only-for-mobile {
    height: 500px;
  }

  .large-image__wrapper.is--not-mobile {
    width: 260px;
    height: 360px;
    max-width: 260px;
  }

  .large-image__wrapper.is-health-apps {
    width: 260px;
    height: 360px;
    max-width: 260px;
  }

  .large-image__wrapper.is-health-apps.is--mobile {
    width: 90vw;
    height: 500px;
    max-width: 90vw;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .other-apps__image {
    border-radius: 0px;
  }

  .health__section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .hero__heading {
    font-size: 100px;
  }

  .hero__heading.is--first-letter {
    font-size: 190px;
    letter-spacing: -5px;
  }

  .hero__heading.is--second-letter {
    font-size: 190px;
  }

  .hero__heading.is--third-letter {
    font-size: 190px;
  }

  .hero__heading.is--fourth-letter {
    font-size: 190px;
  }

  .hero__heading.is--sixth-letter {
    font-size: 190px;
  }

  .hero__heading.is--seventh-letter {
    font-size: 190px;
  }

  .hero__heading.is--third-letter {
    padding-right: 7px;
    font-size: 190px;
    letter-spacing: -5px;
  }

  .hero-slogan__text {
    margin-right: 3px;
    font-size: 20px;
  }

  .image-6 {
    width: 110px;
    margin-right: 30px;
  }

  .text-block {
    text-align: center;
  }

  .link-block.w--current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .health__container {
    max-width: 90vw;
  }

  .image-7 {
    display: block;
  }

  .success-message {
    padding-left: 0px;
  }

  .form-block {
    margin-bottom: 0px;
  }

  .apps__grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .app_text__wrapper {
    padding-bottom: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .app_text__wrapper.s--social-apps {
    padding-bottom: 75px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .stryds__big-paragraph {
    max-width: 90vw;
    font-size: 40px;
    letter-spacing: -1px;
  }

  .wellnes__section {
    height: 600px;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .health-apps__big-paragraph {
    width: 170px;
    font-size: 32px;
    letter-spacing: -1px;
  }

  .join-heading__wrapper {
    height: 100%;
  }

  .text-span-21 {
    letter-spacing: -2px;
  }

  .feature__grid {
    display: none;
    width: 65vw;
    max-width: 65vw;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .feature__grid.is--different-order-for-mobile {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .feature-grid_wrapper.is--left.is--top-on-mobile {
    margin-bottom: 0px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .feature-grid_wrapper.is--right {
    margin-top: 0px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .stryds-text_wrapper {
    width: 65vw;
    max-width: 65vw;
  }

  .menu__copy.is--second-line {
    font-size: 210px;
    line-height: 70%;
    letter-spacing: -3px;
  }

  .menu__copy.is--third-line {
    font-size: 210px;
    line-height: 70%;
    letter-spacing: -3px;
  }

  .menu__copy.is--first-line {
    font-size: 210px;
    line-height: 70%;
    letter-spacing: -3px;
  }

  .footer-icon__grid {
    margin-bottom: 60px;
    justify-items: center;
  }

  .icons__grid {
    justify-items: center;
  }

  .first-letter__span {
    font-size: 120px;
    line-height: 90%;
    text-align: center;
  }

  .lock-visual__wrapper.is--desktop-base {
    display: none;
  }

  .lock-visual__wrapper.is--tablet {
    display: none;
  }

  .lock-visual__wrapper.is--mobile-landscape {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .lock-upper-part__image {
    width: 50px;
  }

  .hero-slogan__hide {
    margin-top: -30px;
  }

  .menu-bar__wrapper.is--bigger-than-mobile_landscape {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-bar__wrapper.is--bigger-than-mobile_landscape.is--homepage {
    display: none;
  }

  .menu-bar__wrapper.is--mobile {
    display: none;
  }

  .menu-bar__wrapper.is--mobile.is--homepage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }

  .menu__bar {
    width: 350px;
  }

  .menu__bar.is--moblie {
    width: 70vw;
    height: 74px;
    padding: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 20px;
  }

  .menu__bar.is--moblie.is--homepage {
    margin-right: auto;
    margin-left: auto;
  }

  .mobile-menu-bar__grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .menu-bar-item__wrapper.is--left.w--current {
    padding-left: 0px;
  }

  .menu-bar-item__wrapper.is--last-item {
    padding-right: 0px;
  }

  .menu-bar__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-bar-join-button__copy {
    width: 100px;
    border-radius: 15px;
  }

  .hamburger-menu-icon__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .hamburger-menu-icon__line {
    background-color: hsla(0, 0%, 99.2%, 0.46);
  }

  .mobile-menu-items__grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    margin-bottom: 8px;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .moblie-menu-item__copy {
    margin-bottom: 0px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }

  .link-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 12px;
    padding-left: 12px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Fontsfree net sfprodisplay", sans-serif;
    color: hsla(0, 0%, 99.2%, 0.46);
    text-decoration: none;
  }

  .mobile-menu-bar-join__button {
    width: 100px;
    height: 54px;
    border-radius: 15px;
  }

  .moblie-menu-items__wrapper {
    display: none;
    margin-bottom: 8px;
  }

  .strydmates__wrapper {
    width: 180px;
    height: 240px;
  }

  .image-12 {
    width: 140px;
  }

  .image-13 {
    top: 35px;
    width: 90px;
  }

  .image-14 {
    width: 40px;
  }

  .journeys__wrapper {
    width: 280px;
  }

  .image-15 {
    width: 90px;
  }

  .image-16 {
    width: 90px;
  }

  .image-17 {
    width: 140px;
  }

  .insights__wrapper {
    width: 200px;
    height: 241px;
  }

  .other-apps__big-paragraph {
    width: 90vw;
    font-size: 56px;
    letter-spacing: -1px;
  }

  .hero__mockup-image {
    width: 240px;
    border-radius: 20px;
  }

  .image-18 {
    padding-top: 3px;
  }

  .i-am-in__section {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .other-apps__grid {
    display: none;
    height: auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .other-apps__grid.is--mobile {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .social-apps__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 90vw;
    height: 400px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }

  .social-apps-image__wrapper {
    position: static;
    width: 65vw;
    height: 45vw;
  }

  .health-app__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    height: 300px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .health-apps-image__wrapper {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 65vw;
    height: 45vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .health-apps-text__wrapper {
    height: auto;
  }

  .other-apps__paragraph {
    width: 65vw;
    font-size: 56px;
    text-align: left;
    letter-spacing: 0px;
  }

  .other-apps__paragraph.is--social-apps {
    width: 65vw;
    font-size: 56px;
    text-align: left;
  }

  .other-app__image {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .other-app__image.is--second-imae {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .sync-different__image.is--one {
    left: 110px;
    top: 360px;
    width: 160px;
  }

  .sync-different__image.is--two {
    left: 130px;
    top: -20px;
    width: 160px;
  }

  .sync-different__image.is--three {
    left: 40px;
    top: 220px;
    width: 70px;
  }

  .sync-different__image.is--four {
    display: none;
  }

  .sync-different__image.is--five {
    left: 350px;
    top: 10px;
    width: 70px;
  }

  .sync-different__image.is--six {
    left: 410px;
    top: 319px;
  }

  .hero-mockup__image {
    height: 81vh;
  }

  .other-apps-on-mobile__grid {
    display: -ms-grid;
    display: grid;
    overflow: hidden;
    width: 90vw;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .social-apps {
    width: 90vw;
    height: 300px;
  }

  .div-block-4 {
    width: 90vw;
    height: 300px;
  }

  .image-21 {
    width: 100%;
    height: auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .image-22 {
    width: 100%;
    height: auto;
  }

  .less__wrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .less-text-line__wrapper {
    margin-right: 7px;
  }

  .less-more-both-text-lines__wrapper {
    width: 45vw;
    margin-right: 0px;
  }

  .less-more__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .less-more-grid__spacer {
    width: 0px;
  }

  .more-text-line__wrapper {
    margin-right: 7px;
  }

  .more__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .stryds__visual.is-1 {
    left: 205px;
  }

  .stryds__visual.is-6 {
    left: 306px;
  }

  .stryds__visual.is-8 {
    left: 82px;
  }

  .stryds__visual.is-9 {
    top: 116px;
  }

  .introduction__section {
    height: auto;
    padding-top: 0px;
    padding-bottom: 150px;
  }

  .tagline__container {
    height: auto;
  }

  .tagline__wrapper {
    height: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .tagline__text.is--second-text-line {
    display: none;
    height: 140px;
    margin-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 160px;
  }

  .tagline__text.is--first-text-line {
    width: 340px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 32px;
  }

  .tagline__text.is--first-text-line.text-highlight__span {
    width: 320px;
    font-size: 20px;
  }

  .stryds-description__image.is--2 {
    left: 176px;
    top: 306px;
  }

  .stryds-description__image.is--3 {
    left: 335px;
    top: 215px;
  }

  .stryds-description__image.is--4 {
    left: 247px;
  }

  .stryds-description__image.is--5 {
    left: 142px;
    top: 302px;
  }

  .stryds-description__image.is--7 {
    left: 271px;
    top: 404px;
  }

  .stryds-description__image.is--8 {
    left: 332px;
    top: 328px;
  }

  .lottie-animation {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: none;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px;
  }

  .lottie-animation-2 {
    display: block;
    width: 250px;
  }

  .lock__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 330px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .logo-ring-loader__wrapper {
    height: 330px;
  }

  .healthy-competition-moblie__wrapper {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .healthy-competition__text-wrapper {
    margin-top: 60px;
  }

  .healthy-competition__text-wrapper.is--healthy-competiion {
    margin-bottom: 20px;
  }

  .change__section {
    height: auto;
    padding-top: 0px;
    padding-bottom: 100px;
  }

  .change__text {
    width: 350px;
    font-size: 40px;
  }

  .change__text.is--second-text-line {
    display: none;
    height: 140px;
    margin-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 160px;
  }

  .change__text.is--first-text-line {
    width: 65vw;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 32px;
  }

  .change__text.is--ourselves {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 130px;
  }

  .introduction__wrapper {
    height: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .story__section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .story__section.is--vertical-screen {
    display: none;
  }

  .sticky__wrapper {
    height: 540px;
    padding-top: 75px;
  }

  .circle {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 285px;
    height: 285px;
  }

  .circle.is--dark {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
  }

  .black-logo {
    width: 250px;
  }

  .story-visuals__wrapper {
    overflow: hidden;
    height: 285px;
  }

  .hero__grid.is--left {
    height: 100vh;
  }

  .hero__grid.is--centre {
    height: 100vh;
  }

  .hero__grid.is--right {
    height: 100vh;
  }

  .hero-image__frame {
    height: 55vw;
  }

  .hero-scroll__wrapper-container {
    margin-right: auto;
    margin-left: auto;
  }

  .hero-scroll__wrapper {
    width: 120vw;
    height: 120vw;
    margin-right: auto;
    margin-left: auto;
  }

  .hero-frame.is--1 {
    width: 100vh;
    height: 100vh;
  }

  .hero-frame.is--2 {
    width: 100vh;
    height: 100vh;
  }

  .hero-frame.is--3 {
    width: 100vh;
    height: 100vh;
  }

  .hero-frame.is--4 {
    width: 100vh;
    height: 100vh;
  }

  .image-35 {
    margin-right: auto;
    margin-left: auto;
  }

  .hero-background__heading {
    font-size: 120px;
    letter-spacing: -1px;
  }

  .hero-scroll__paragraph.is--1 {
    width: 300px;
    opacity: 0;
    font-size: 32px;
  }

  .hero-scroll__paragraph.is--2 {
    width: 340px;
    opacity: 0;
    font-size: 32px;
  }

  .hero-scroll__paragraph.is--one {
    width: 300px;
    opacity: 0;
    font-size: 32px;
    letter-spacing: 0px;
  }

  .hero-scroll__paragraph.is--two {
    width: 320px;
    font-size: 32px;
    letter-spacing: 0px;
  }

  .link__wrapper.is--not-homepage {
    max-width: 400px;
  }

  .link-block-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .basic__heading {
    font-size: 56px;
    letter-spacing: -1px;
  }

  .basic-heading__h2 {
    letter-spacing: 0px;
  }

  .simplified-menu-bar {
    width: 350px;
  }

  .simplified-menu-bar.is--moblie {
    width: 70vw;
    height: 74px;
    padding: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 20px;
  }

  .div-block-9 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .mockup__section {
    height: 560px;
  }

  .because__paragraph.is--1 {
    width: 300px;
    opacity: 0;
    font-size: 32px;
  }

  .because__paragraph.is--2 {
    width: 340px;
    opacity: 0;
    font-size: 32px;
  }

  .mockup-cards__wrapper {
    width: 100vw;
    height: 400px;
  }

  .mockup-card.is--1 {
    height: 400px;
  }

  .mockup-card.is--2 {
    height: 350px;
  }

  .mockup-card.is--3 {
    height: 300px;
  }

  .mockup-card.is--5 {
    height: 200px;
  }

  .mockup-card.is--4 {
    height: 250px;
  }

  .target-icon__wrapper.is--desktop-base {
    display: none;
  }

  .target-icon__wrapper.is--tablet {
    display: none;
  }

  .target-icon__wrapper.is--mobile-landscape {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .gallery-mockup {
    height: 400px;
    margin-right: 20px;
  }

  .d-s-letter-spacing__span {
    letter-spacing: -4px;
  }

  .y-letter-spacing__span {
    letter-spacing: -5px;
  }

  .r-letter-spacing__span {
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_4df392eb-3b56-d7b9-967b-ce866d86553d-38c80f21 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_4df392eb-3b56-d7b9-967b-ce866d865540-38c80f21 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_4df392eb-3b56-d7b9-967b-ce866d865543-38c80f21 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_4df392eb-3b56-d7b9-967b-ce866d865546-38c80f21 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-ea597442-5163-3252-0a69-98af09aaa6b0-38c80f21 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_0ac87c85-c340-e711-d6d2-916784da59c3-38c80f21 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_95cd00cd-7c55-b2f7-5d1c-8607052b69b1-38c80f21 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_5e8dcfb7-33ac-c9c2-4f35-548efcfac14b-38c80f21 {
    -ms-grid-column-align: end;
    justify-self: end;
  }

  #w-node-_65c0d16a-663b-bdd1-bfd6-26ac0f1c01a8-38c80f21 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_726ac3a0-0d86-c222-aa37-6e164e25f051-7bc80f27 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_1f34167a-19c1-b714-23c6-336c76eb5e80-7bc80f27 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-fa9e66cc-22ec-774d-2e44-a35316857383-7bc80f27 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-bc066e6f-9a90-4040-409a-a611b8e4f25f-7bc80f27 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_726ac3a0-0d86-c222-aa37-6e164e25f051-42c80f29 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_1f34167a-19c1-b714-23c6-336c76eb5e80-42c80f29 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-fa9e66cc-22ec-774d-2e44-a35316857383-42c80f29 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-bc066e6f-9a90-4040-409a-a611b8e4f25f-42c80f29 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}
