@font-face {
  font-family: "Fontsfree net sfprodisplay";
  src: url("https://uploads-ssl.webflow.com/639e76b6a0716a69a2134f59/639faeab1caa80730f4039fb_FontsFree-Net-SFProDisplay-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  /* font-display: block; */
}
