@media screen and (max-width: 479px) {
  .nav__container {
    width: 85vw;
    max-width: 85vw;
  }

  .navbar {
    margin-top: 0px;
  }

  .hero_copy__wrapper {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    height: 100vh;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero__image {
    margin-top: 100px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .whole-in-one__section {
    padding-top: 90px;
    padding-bottom: 180px;
  }

  .join-button__container {
    max-width: 85vw;
  }

  .all-in-one-benefit__wrapper {
    height: 290px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .whole-in-one__inner-grid {
    height: 300px;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }

  .all-in-one_visual {
    width: 250px;
  }

  .all-in-one-text__text-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .h2 {
    color: #7c7c7c;
    letter-spacing: -1px;
  }

  .h2.is--smaller {
    color: #7c7c7c;
    font-size: 56px;
    letter-spacing: -1px;
  }

  .benefit__paragraph {
    width: 300px;
    color: #7c7c7c;
  }

  .benefit__paragraph.is--smaller {
    color: #7c7c7c;
  }

  .healthy-competition__section {
    position: relative;
    height: 490px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .smilie-image {
    height: 30vh;
  }

  .save-and-sound__section {
    height: auto;
    padding-top: 180px;
    padding-bottom: 90px;
  }

  .feature__section {
    padding-top: 90px;
    padding-bottom: 80px;
  }

  .feature__container {
    max-width: 85vw;
  }

  .grid-4 {
    width: 90vw;
    max-width: 90vw;
  }

  .feature__card {
    border-radius: 15px;
  }

  .card__paragraph {
    width: 240px;
  }

  .feature__image {
    width: 100px;
  }

  .feature__image.is--insights {
    width: 240px;
  }

  .sync-different__section {
    overflow: visible;
    height: 650px;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .section__heaiding {
    width: 90vw;
    max-width: 90vw;
    font-size: 56px;
  }

  .banner-line__wrapper.is--second-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .banner__paragraph {
    font-size: 32px;
  }

  .last_argumeznts__section {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .last_arguments__container {
    max-width: 85vw;
  }

  .last-arguments__big-paragraph {
    font-size: 70px;
    line-height: 90%;
    letter-spacing: -2px;
  }

  .text-span-16 {
    letter-spacing: 0px;
  }

  .i-am-in-anchor-link__section {
    padding-top: 0px;
    padding-bottom: 100px;
  }

  .text-field {
    width: 240px;
  }

  .submit-button {
    width: 240px;
  }

  .join-heading__container {
    width: 85vw;
    height: 60vh;
    padding: 60px 20px;
    border-radius: 15px;
  }

  .join__grid {
    width: 300px;
    height: 100%;
  }

  .join__heading {
    font-size: 120px;
    letter-spacing: -2px;
  }

  .form {
    margin-bottom: 0px;
  }

  .footer_grid {
    width: 300px;
  }

  .footer-text__grid {
    justify-items: center;
  }

  .social-media__section {
    padding-top: 0px;
    padding-bottom: 100px;
  }

  .social-media__container {
    overflow: visible;
    max-width: 85vw;
  }

  .social-media__big-paragraph {
    width: 85vw;
    max-width: 85vw;
    font-size: 40px;
    text-align: left;
    letter-spacing: -1px;
  }

  .large-image__wrapper {
    width: 85vw;
    height: 400px;
    max-width: 85vw;
  }

  .large-image__wrapper.is--only-for-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 85vw;
    height: 300px;
    max-width: 85vw;
  }

  .large-image__wrapper.is--social-apps {
    display: none;
  }

  .large-image__wrapper.is--not-mobile {
    display: none;
  }

  .large-image__wrapper.is-health-apps {
    width: 85vw;
    max-width: 85vw;
  }

  .large-image__wrapper.is-health-apps.is--mobile {
    width: 85vw;
    height: 300px;
    max-width: 85vw;
  }

  .other-apps__image {
    width: 100%;
    max-width: 100%;
  }

  .health__section {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .health-apps__image {
    width: 110%;
    max-width: 110%;
  }

  .hero-text__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero__heading.is--first-letter {
    margin-right: 0px;
    font-size: 110px;
    letter-spacing: -3px;
  }

  .hero__heading.is--second-letter {
    font-size: 120px;
  }

  .hero__heading.is--third-letter {
    font-size: 120px;
  }

  .hero__heading.is--fourth-letter {
    font-size: 120px;
  }

  .hero__heading.is--sixth-letter {
    font-size: 120px;
  }

  .hero__heading.is--seventh-letter {
    font-size: 120px;
  }

  .hero__heading.is--third-letter {
    padding-right: 3px;
    font-size: 110px;
    letter-spacing: -3px;
  }

  .hero-slogan__text {
    letter-spacing: 0px;
  }

  .stryds__container {
    max-width: 85vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .health__container {
    max-width: 80vw;
  }

  .form-block {
    margin-bottom: 0px;
  }

  .apps__grid {
    width: 85vw;
    max-width: 85vw;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .app_text__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .app_text__wrapper.s--social-apps {
    padding-bottom: 160px;
  }

  .stryds__big-paragraph {
    position: relative;
    z-index: 0;
    display: block;
    width: 85vw;
    max-width: 85vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 56px;
    text-align: left;
    letter-spacing: -1px;
  }

  .wellnes__section {
    height: 800px;
    padding-top: 45px;
    padding-bottom: 45px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .health-apps__big-paragraph {
    width: 8085vw;
    max-width: 85vw;
    font-size: 40px;
    text-align: left;
    letter-spacing: -1px;
  }

  .text-highlight__span {
    letter-spacing: 0px;
  }

  .feature__grid {
    display: none;
    width: 90vw;
    max-width: 90vw;
  }

  .feature__grid.is--different-order-for-mobile {
    display: block;
    width: 85vw;
    max-width: 85vw;
  }

  .feature-grid_wrapper.is--left.is--top-on-mobile {
    margin-bottom: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .feature-grid_wrapper.is--right {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .stryds-text_wrapper {
    width: 85vw;
    max-width: 85vw;
  }

  .menu_wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .menu-grid__wrapper {
    height: 70vh;
  }

  .menu__grid {
    -webkit-box-align: end;
    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end;
  }

  .menu__copy.is--second-line {
    font-size: 120px;
  }

  .menu__copy.is--third-line {
    font-size: 120px;
  }

  .menu__copy.is--first-line {
    font-size: 120px;
  }

  .first-letter__span {
    font-size: 90px;
  }

  .join_wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .join-grid__wrapper {
    height: 70vh;
  }

  .join-popup__grid {
    -webkit-box-align: end;
    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end;
  }

  .lock-visual__wrapper.is--1920px-and-up {
    display: none;
  }

  .lock-visual__wrapper.is--mobile-landscape {
    display: none;
  }

  .lock-visual__wrapper.is--mobile-portrait {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .lock-upper-part__image {
    width: 50px;
  }

  .hero-slogan__hide {
    margin-top: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .menu-bar__wrapper.is--bigger-than-mobile_landscape {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-bar__wrapper.is--mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu__bar.is--moblie {
    display: none;
    width: 90vw;
    border-radius: 20px;
    -webkit-backdrop-filter: brightness(60%) blur(100px);
    backdrop-filter: brightness(60%) blur(100px);
  }

  .menu__bar.is--moblie.is--homepage {
    position: relative;
    z-index: 2700;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 85vw;
    max-width: 400px;
  }

  .menu__bar.is--homepage {
    display: none;
  }

  .menu-bar-item__wrapper.is--last-item {
    padding-right: 0px;
  }

  .menu-bar__item {
    display: block;
  }

  .menu-bar-join-button__copy {
    width: 100px;
    border-radius: 15px;
  }

  .logo__image {
    padding-top: 4px;
  }

  .hamburger-menu-icon__line {
    background-color: hsla(0, 0%, 99.2%, 0.46);
  }

  .mobile-menu-bar-join__button {
    width: 100px;
    border-radius: 15px;
  }

  .journeys__wrapper {
    width: 250px;
  }

  .image-15 {
    width: 80px;
  }

  .image-16 {
    width: 80px;
  }

  .image-17 {
    width: 120px;
  }

  .insights__wrapper {
    width: 180px;
    height: 219px;
  }

  .other-apps__big-paragraph {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 85vw;
    max-width: 85vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 32px;
    letter-spacing: -1px;
  }

  .hero__mockup-image {
    top: 0%;
    bottom: auto;
    width: 210px;
    margin-top: 30px;
    border-radius: 15px;
  }

  .image-18 {
    width: 24px;
    padding-top: 3px;
  }

  .i-am-in__section {
    padding-top: 45px;
    padding-bottom: 30px;
  }

  .other-apps__grid {
    display: none;
  }

  .other-apps__grid.is--mobile {
    width: 85vw;
  }

  .social-apps__wrapper {
    width: 85vw;
    height: 260px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .social-apps-image__wrapper {
    width: 85vw;
    height: 70vw;
  }

  .social-apps-text__wrapper {
    width: 300px;
  }

  .health-app__wrapper {
    width: 85vw;
    height: 260px;
  }

  .health-apps-image__wrapper {
    width: 85vw;
    height: 70vw;
  }

  .health-apps-text__wrapper {
    width: 300px;
  }

  .other-apps__paragraph {
    display: block;
    width: 85vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 56px;
    letter-spacing: -1px;
  }

  .other-apps__paragraph.is--social-apps {
    width: 85vw;
    font-size: 56px;
  }

  .other-app__image {
    width: auto;
    height: 100%;
  }

  .sync-different__image.is--one {
    left: 170px;
    top: 456px;
    width: 160px;
  }

  .sync-different__image.is--two {
    left: 50px;
    top: 50px;
    width: 150px;
  }

  .sync-different__image.is--three {
    left: 40px;
    top: 440px;
    width: 70px;
  }

  .sync-different__image.is--four {
    left: 290px;
    top: 260px;
    display: none;
  }

  .sync-different__image.is--five {
    left: 260px;
    top: 80px;
    width: 70px;
  }

  .sync-different__image.is--six {
    left: 300px;
    width: 40%;
  }

  .hero-mockup__image {
    height: 60vh;
  }

  .other-apps-on-mobile__grid {
    overflow: visible;
    width: 85vw;
  }

  .social-apps {
    height: 340px;
  }

  .less-more-both-text-lines__wrapper {
    width: 85vw;
  }

  .less-more__grid {
    width: 85vw;
  }

  .stryds__visual.is-1 {
    left: 107px;
    top: 30px;
    display: none;
    width: 40%;
  }

  .stryds__visual.is-3 {
    left: 225px;
    display: none;
  }

  .stryds__visual.is-4 {
    left: 0px;
    display: none;
  }

  .stryds__visual.is-6 {
    left: 120px;
    top: 273px;
    right: 273px;
    bottom: 273px;
    width: 70%;
  }

  .stryds__visual.is-7 {
    left: 346px;
    top: 319px;
    right: 319px;
    bottom: 319px;
    width: 20%;
  }

  .stryds__visual.is-8 {
    left: 282px;
    top: 153px;
    right: 158px;
    bottom: 158px;
  }

  .stryds__visual.is-9 {
    left: 40px;
    top: 130px;
    width: 60%;
  }

  .stryds__visual.is-10 {
    left: 160px;
    width: 80%;
  }

  .introduction__section {
    width: 100vw;
    height: auto;
    padding-top: 10px;
    padding-bottom: 190px;
  }

  .tagline__container {
    height: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .tagline__wrapper {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .tagline__text.is--second-text-line {
    display: none;
    height: 110px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    font-size: 100px;
  }

  .tagline__text.is--first-text-line {
    width: 85vw;
    margin-bottom: 0px;
  }

  .tagline__text.is--first-text-line.text-highlight__span {
    width: 270px;
  }

  .stryds-description__image.is--1 {
    left: -14px;
    width: 90%;
  }

  .stryds-description__image.is--2 {
    left: 114px;
    top: 327px;
    width: 85%;
  }

  .stryds-description__image.is--3 {
    left: 142px;
    width: 70%;
  }

  .stryds-description__image.is--4 {
    left: 124px;
    width: 80%;
  }

  .stryds-description__image.is--5 {
    left: -16px;
    top: 215px;
    width: 65%;
  }

  .stryds-description__image.is--7 {
    left: 56px;
    top: 292px;
    width: 70%;
  }

  .stryds-description__image.is--8 {
    left: 66px;
    top: 386px;
    width: 65%;
  }

  .stryds-description__image.is--10 {
    left: 30px;
    top: 47px;
    width: 75%;
  }

  .lottie-animation {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 45px;
  }

  .whole-in-one-visual__wrapper {
    height: 90px;
  }

  .whole-in-one__top-grid {
    width: 220px;
    height: 220px;
  }

  .image-26 {
    width: 160px;
  }

  .lock__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 320px;
    max-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .logo-ring-loader__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .healthy-competition-moblie__wrapper {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 490px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .healthy-competition__text-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .change__section {
    width: 100vw;
    height: auto;
    padding-top: 0px;
    padding-bottom: 90px;
  }

  .change__text {
    width: 340px;
    font-size: 40px;
    letter-spacing: 0px;
  }

  .change__text.is--second-text-line {
    display: none;
    height: 110px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    font-size: 100px;
  }

  .change__text.is--first-text-line {
    width: 85vw;
    margin-bottom: 0px;
  }

  .change__text.is--ourselves {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 90px;
    line-height: 70%;
  }

  .introduction__wrapper {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .story__section {
    display: none;
  }

  .story__section.is--vertical-screen {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .sticky__wrapper {
    height: 810px;
    padding-top: 30px;
  }

  .circle {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 300px;
    height: 300px;
  }

  .circle.is--dark {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .circles__text {
    color: #686868;
  }

  .circles__text.is--on-dark-bg {
    color: #929292;
  }

  .black-logo {
    width: 260px;
  }

  .story-visuals__wrapper {
    height: 630px;
  }

  .stryds-logo__text {
    width: 330px;
  }

  .hero-image__frame {
    width: 40vw;
    height: 70vw;
    border-radius: 20px;
  }

  .new-hero__section {
    display: none;
  }

  .new-hero__section.is--mobile {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .hero-scroll__wrapper-container {
    top: 0px;
  }

  .hero-scroll__wrapper {
    width: 150vw;
    height: 150vw;
  }

  .hero-frame.is--1 {
    width: 30vh;
    height: 30vh;
  }

  .hero-frame.is--2 {
    width: 30vh;
    height: 30vh;
    border-radius: 30px;
  }

  .hero-frame.is--3 {
    width: 30vh;
    height: 30vh;
  }

  .hero-frame.is--4 {
    width: 30vh;
    height: 30vh;
  }

  .hero-background__heading {
    position: static;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    display: block;
    opacity: 0;
    font-size: 90px;
    letter-spacing: -2px;
  }

  .hero-background__heading.is--mobile {
    width: 250px;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
    text-align: center;
    letter-spacing: -1px;
  }

  .hero-scroll__paragraph.is--1 {
    width: 300px;
    opacity: 1;
    font-size: 32px;
    letter-spacing: 0px;
    text-transform: capitalize;
  }

  .hero-scroll__paragraph.is--2 {
    width: 340px;
    opacity: 1;
    font-size: 32px;
    letter-spacing: 0px;
    text-transform: capitalize;
  }

  .hero-scroll__paragraph.is--one {
    width: 300px;
    opacity: 0;
    font-size: 32px;
  }

  .hero-paragraphs__wrapper {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
  }

  .link__wrapper {
    position: relative;
    z-index: 2300;
    width: 85vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .link__wrapper.is--not-homepage {
    width: 75vw;
    max-width: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .terms-and-conditions__copy {
    margin-bottom: 12px;
    text-align: center;
  }

  .link-block-3 {
    position: relative;
    z-index: 2700;
    padding-right: 8px;
    padding-left: 8px;
  }

  .link-block-3.is--right {
    padding-right: 0px;
  }

  .basic__heading {
    font-size: 56px;
    letter-spacing: -1px;
  }

  .basic-heading__h2 {
    letter-spacing: 0px;
  }

  .privacy-policy__section {
    display: block;
  }

  .privacy-policy__section.is--mobile {
    display: block;
  }

  .simplified-menu-bar.is--moblie {
    width: 90vw;
    border-radius: 20px;
    -webkit-backdrop-filter: brightness(60%) blur(100px);
    backdrop-filter: brightness(60%) blur(100px);
  }

  .copyright__paragraph {
    margin-bottom: 12px;
    text-align: center;
  }

  .div-block-9 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .mockup__section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 590px;
    padding-top: 100px;
    padding-bottom: 90px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .because__paragraph.is--1 {
    width: 300px;
    opacity: 0;
    font-size: 32px;
  }

  .because__paragraph.is--2 {
    width: 340px;
    opacity: 0;
    font-size: 32px;
  }

  .mobile-hero__section {
    display: none;
  }

  .mobile-hero__section.is--mobile {
    position: static;
    display: block;
    overflow: visible;
    height: 300vh;
  }

  .mobile-hero-mockup__wrapper {
    position: absolute;
    left: auto;
    top: auto;
    right: auto;
    bottom: 250px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 400px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    opacity: 0;
  }

  .mobile-hero__mockup {
    position: absolute;
    width: 100px;
  }

  .mobile-hero__mockup.is--1 {
    z-index: 5;
    width: auto;
    height: 400px;
  }

  .mobile-hero__mockup.is--2 {
    z-index: 4;
    width: auto;
    height: 350px;
  }

  .mobile-hero__mockup.is--3 {
    z-index: 3;
    width: auto;
    height: 300px;
  }

  .mobile-hero__mockup.is--4 {
    z-index: 2;
    width: auto;
    height: 250px;
  }

  .mobile-hero__mockup.is--5 {
    z-index: 1;
    width: auto;
    height: 200px;
  }

  .target-icon__wrapper.is--1920px-and-up {
    display: none;
  }

  .target-icon__wrapper.is--mobile-landscape {
    display: none;
  }

  .target-icon__wrapper.is--mobile-portrait {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .mockup-cards-opening__section {
    display: none;
    overflow: hidden;
  }

  .gallery-mockup {
    height: 400px;
    margin-right: 25px;
  }

  .privacy-policy__copy {
    margin-bottom: 0px;
    text-align: center;
  }

  .terms-and-conditions__section {
    display: block;
  }

  .terms-and-conditions__section.is--mobile {
    display: block;
  }

  .r-letter-mobile-heading-letter-spacing__span {
    letter-spacing: 2px;
  }

  .y-letter-mobile-heading-letter-spacing__span {
    letter-spacing: -3px;
  }

  .d-letter-mobile-heading-letter-spacing__span {
    letter-spacing: -2px;
  }

  .bold-text-3 {
    letter-spacing: 0px;
  }
}
